Bottleneck==1.4.2
Brotli==1.0.9
future==1.0.0
graspologic==3.4.1
ipykernel==6.29.5
Jinja2==3.1.6
natsort==8.4.0
nbformat==5.10.4
netplotbrain==0.3.0
nilearn==0.11.1
numexpr==2.10.1
openpyxl==3.1.5
pipdeptree==2.26.1
plotly==6.0.1
PyComplexHeatmap==1.8.2
scikit-image==0.25.2
setuptools==78.1.1
unicodedata2==15.1.0
wheel==0.45.1
XlsxWriter==3.2.3
